@import url('https://fonts.googleapis.com/css?family=Diplomata+SC|Ewert|Fredericka+the+Great|Sanchez|Sancreek|Spectral+SC&display=swap');

div {
   outline: #161616 solid 8px; 
}
            
body {
    margin: 0px;  
}

.menubar {
    background-color: #4f0b0b;
    height: 150px;
    background-image: url(backroundstripes.jpg);
    background-position: center;
    padding-top: 10px;
}

.logo {
    background-image: url(logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 75%;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
            
.carousel {
    background-color: #070707;
    height: 300px;
    background-image: url(IMG_0949.PNG);
    background-position: center;
    background-repeat: no-repeat;
}
            
.shows {
    background-color: #080808;
    height: 350px;
    margin-top: -48px;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
}

#halyscircus {
    background-image: url(halyscircus.PNG);
    background-position: center;
    height: 200px;
    background-repeat: no-repeat;
    outline: none;
}
            
.acts {
    background-color: #060314;
    height: 350px;
    margin-top: -48px;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
}

#shows {
    background-image: url(shows.PNG);
    background-position: center;
    height: 200px;
    background-repeat: no-repeat;
    outline: none;
}
            
.prices {
    background-color: #1e0503;
    height: 350px;
    margin-top: -48px;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
}

#tickets {
    background-image: url(tickets.PNG);
    background-position: center;
    height: 200px;
    background-repeat: no-repeat;
    outline: none;
}
            
.contactus {
    background-color: #d1c5a3;
    height: 300px;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
}  

.contactus p {
    text-align: center;
    font-size: 3em;
    font-family: 'Ewert', cursive;
    color: #d1c5a3;
    height: 50px;
}
           
.shows a  {
    text-align: center;
    font-size: 3em;
    font-family: 'Ewert', cursive;
    color: #d1c5a3;
    text-decoration: none;
}

.acts a  {
    text-align: center;
    font-size: 3em;
    font-family: 'Ewert', cursive;
    color: #d1c5a3;
    text-decoration: none;
}

.prices a  {
    text-align: center;
    font-size: 3em;
    font-family: 'Ewert', cursive;
    color: #d1c5a3;
    text-decoration: none;
}

#bookinginfo {
    background-color: #d1c5a3;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
    height: 500px;
}

#bookinginfo h1{
    background-color: #4f0b0b;
    font-size: 2em;
    text-align: center;
    margin: 5px;
    color: #d1c5a3;
    font-family: 'Sancreek', cursive;
    padding-top: 5px;
}

.contactus p {
    color: black;
}

#bookinginfo h2{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    padding-left: 10px;
    text-align: left;
}

.pricelist {
    background-color: #060314;
    height: 450px;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
    margin-top: -12px;
    
}

.pricelist h1 {
    background-color:  #060314;
    color: #d1c5a3;
    font-family: 'Sancreek', cursive;
    text-align: center;
}

.pricelist h2 {
    font-family: 'Sanchez', serif;
    font-size: 1em;
    padding-top: 10px;
    color: #d1c5a3;
    text-align: center;
}

.pricelist p {
    font-family: 'Sanchez', serif;
    font-size: 0.8em;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #d1c5a3;
}
            
.grey {
    background-image: url(lightsborder.jpg);
    background-color: #161616;
    height: 50px;
}

.contactpage {
    background-color: #d1c5a3;
    height: 400px;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
    margin-top: -40px;
    
}

.contactpage p {
    color: black;
    text-align: center;
    font-size: 3em;
    font-family: 'Ewert', cursive;
    height: 20px
}

.booknowlink {
    background-color: #d1c5a3;
    height: 50px;
    text-align: center;
    padding-top: 17px;
    font-size: 1.8em;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
}

.booknowlink a {
    text-decoration: none;
    color: #060314;
    background-color: #d1c5a3;
    outline: #161616 solid 8px;
}


.boookingslink {
    background-color: #060314;
    height: 50px;
    text-align: center;
    padding-top: 13px;
    font-size: 1.8em;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
    
}

.boookingslink a {
    text-decoration: none;
    color: #060314;
    background-color: #d1c5a3;
}

.booknow {
    background-color: #4f0b0b;
    height: 840px;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
    margin-top: -38px;
}

.booknow p {
    text-align: center;
    font-size: 3em;
    font-family: 'Ewert', cursive;
    color: #d1c5a3;
    height: 15px;
    
}

.menubar a {
    padding-left: 15px;
    padding-right: 15px;
    height: 20px;
    font-family: 'Sanchez', serif;
    outline: #161616 solid 8px; 
    text-decoration: none;
    color: #060314;
}

.link {
    background-color: #4f0b0b;
}

.menubar a {
    color: #d1c5a3;
}

.link:hover {
     background-color: #060314;
}

.container .row {
    text-align: center;
}

.actspage {
    height: 70px;
    background-color: #060314;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
    margin-top: -35px;
}

.actspage p {
    font-size: 3em;
    font-family: 'Ewert', cursive;
    color: #d1c5a3;
    text-align: center;
}

.aerialist {
    background-image: url(aerialist.PNG);
    height: 400px;
    background-size:cover;
    margin: 8px;
}

.aerialist p {
    text-align: right;
    padding-right: 10px;
    color: #4f0b0b;
    font-family: 'Sancreek', cursive;
    font-size: 1.4em;
}

.animaltamer {
    background-image: url(animaltamer.PNG);
    height: 100px;
    margin: 8px;
    height: 400px;
    background-size: cover;
}

.animaltamer p {
    text-align: right;
    padding-right: 10px;
    color: #4f0b0b;
    font-family: 'Sancreek', cursive;
    font-size: 1.4em;
}

.beardedlady {
    background-image: url(beardedlady.PNG);
    height: 100px;
    margin: 8px;
    height: 400px;
    background-size: cover;
}

.beardedlady p {
    text-align: right;
    padding-right: 10px;
    color: #4f0b0b;
    font-family: 'Sancreek', cursive;
    font-size: 1.4em;
}

.clowns {
    background-image: url(clowns.PNG);
    height: 100px;
    margin: 8px;
    height: 400px;
    background-size: cover;
}

.clowns p {
    text-align: right;
    padding-right: 10px;
    color: #4f0b0b;
    font-family: 'Sancreek', cursive;
    font-size: 1.4em;
}

.contortion {
    background-image: url(contortionists.PNG);
    height: 100px;
    margin: 8px;
    height: 400px;
    background-size: cover;
}

.contortion p {
    text-align: right;
    padding-right: 10px;
    color: #4f0b0b;
    font-family: 'Sancreek', cursive;
    font-size: 1.4em;
}

.juggling {
    background-image: url(juggling.PNG);
    height: 100px;
    margin: 8px;
    height: 400px;
    background-size: cover;
}

.juggling p {
    text-align: right;
    padding-right: 10px;
    color: #4f0b0b;
    font-family: 'Sancreek', cursive;
    font-size: 1.4em;
}

.strongman {
    background-image: url(strongman.PNG);
    height: 100px;
    margin: 8px;
    height: 400px;
    background-size: cover;
}

.strongman p {
    text-align: right;
    padding-right: 10px;
    color: #4f0b0b;
    font-family: 'Sancreek', cursive;
    font-size: 1.4em;
}

.swords {
    background-image: url(swordswallower.PNG);
    height: 100px;
    margin: 8px;
    height: 400px;
    background-size: cover;
}

.swords p {
    text-align: right;
    padding-right: 10px;
    color: #4f0b0b;
    font-family: 'Sancreek', cursive;
    font-size: 1.4em;
}

.tightrope {
    background-image: url(tightrope.PNG);
    height: 100px;
    margin: 8px;
    height: 400px;
    background-size: cover;
}

.tightrope p {
    text-align: right;
    padding-right: 10px;
    color: #4f0b0b;
    font-family: 'Sancreek', cursive;
    font-size: 1.4em;
}

.trapeze {
    background-image: url(trapeze.PNG);
    height: 100px;
    margin: 8px;
    height: 400px;
    background-size: cover;
}

.trapeze p {
    text-align: right;
    padding-right: 10px;
    color: #4f0b0b;
    font-family: 'Sancreek', cursive;
    font-size: 1.4em;
}

.container {
    text-align: center;
}

input[type=text], select, textarea {
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;   
  width: 60%;
}

input[type=submit] {
  background-color: #060314;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: -10px;
  padding: 6px;
}

.center{
width: 150px;
  margin: 40px auto;
  
}

.booknow h2 {
    color: #d1c5a3;
    font-size: 1.8em;
    font-family: 'Sancreek', cursive;
    padding-left: 30px;
    text-decoration: underline;
}

.booknow h3 {
    font-size: 1em;
    color: #d1c5a3;
    padding-left: 10px;
    font-family: 'Sanchez', serif;
}

.locations {
    text-align: center;
    padding-top: 15px;
    color: #060314;
    font-size: 1.2em;
    font-family: 'Sancreek', cursive;
}

.container2 { 
    text-align: right;
}

.container3 {
    text-align: center;
}

.container3 input[type=submit] {
    padding: 10px;
    margin-top: 8px;
    font-size: 1.6em;
    color: #d1c5a3;
}

input[type=submit]:hover {
  background-color: #412860;
}

.shows a:hover{
    color: #412860;
}

.acts a:hover{
    color: #412860;
}

.prices a:hover{
    color: #412860;
}
         
            /* sm */
            @media (min-width: 576px) {
                
            }
            
            /* md */
            @media (min-width: 768px) {
                .menubar {
                    height: 200px;
                    padding-top: 20px;
                }
                
                .menubar a {
                    font-size: 1.4em;
                }
                
                .logo {
                    height: 115px;
                    width: 60%;
                }
                
                .carousel {
                      height: 400px;
                }
                
                .pricelist h1 {
                    height: 80px;
                    font-size: 3em;
                }
                
                #bookinginfo h2 {
                    height: 50px;
                    font-size: 2em;
                }
                
                .pricelist {
                    height: 680px;
                    margin-top: -20px;
                }
                
                .pricelist h2 {
                    font-size: 1.6em;
                    padding-top: 20px;
                }
                
                .pricelist p {
                    font-size: 1em;
                }
                
                .contactpage {
                    height: 500px;
                }
                
                .booknowlink {
                    height: 80px;
                    font-size: 2.4em;
                    padding-top: 33px;
                }
                
                #bookinginfo h1 {
                    padding-top: 15px;
                    font-size: 2.3em;
                }
                
                .boookingslink {
                    height: 70px;
                    padding-top: 20px;
                    font-size: 2.5em;
                }
                
                .booknow {
                    height: 1020px;
                }
                
                input[type=text], select, textarea {
                    height: 25px;
                }
                
                .locations {
                    font-size: 1.6em;
                }
                
                .booknow h2 {
                    font-size: 2em;
                }
                
                .booknow h3 {
                    font-size: 1.4em;
                }
            }
            
            /* lg */
            @media (min-width: 992px) {
                 .menubar {
                    height: 200px;
                    padding-top: 20px;
                }
                
                 .menubar a {
                    font-size: 1.6em;
                }
                
                .logo {
                    height: 115px;
                    width: 40%;
                }
                
                .carousel {
                      height: 500px;
                }
                
                 h1 {
                    height: 80px;
                    font-size: 3em;
                }
                
                h2 {
                    height: 50px;
                    font-size: 2em;
                }
                .pricelist {
                    height: 680px;
                    margin-top: -20px;
                }
                
                .pricelist h2 {
                    font-size: 1.6em;
                    padding-top: 20px;
                }
                
                .pricelist p {
                    font-size: 1em;
                }
                
                .contactpage {
                    height: 500px;
                }
                
                 .booknowlink {
                    height: 80px;
                    font-size: 2.4em;
                    padding-top: 33px;
                }
                
                 #bookinginfo h1 {
                    padding-top: 15px;
                     font-size: 2.8em;
                }
                
                 .boookingslink {
                    height: 70px;
                    padding-top: 20px;
                    font-size: 2.5em;
                }
                
                .booknow {
                    height: 1090px;
                }
                
                input[type=text], select, textarea {
                    height: 30px;
                }
                
                 .locations {
                    font-size: 1.6em;
                }
                
                 .booknow h2 {
                    font-size: 2em;
                }
                
                .booknow h3 {
                    font-size: 1.4em;
                }
                
                .container3 input[type=submit] {
                    padding: 12px;
                    margin-top: 10px;
                    font-size: 2em;
                }
                
            }
            
            /* xl */
            @media (min-width: 1200px) {
                .menubar {
                    height: 200px;
                    padding-top: 20px;
                }
                
                .menubar a {
                    font-size: 1.8em;
                }
                
                .logo {
                    height: 125px;
                    width: 40%;
                    margin-top: 5px;
                }
                
                
                .carousel {
                      height: 600px;
                }
                
                 h1 {
                    height: 80px;
                    font-size: 3em;
                }
                
                h2 {
                    height: 50px;
                    font-size: 2em;
                }
                
                .pricelist {
                    height: 680px;
                    margin-top: -20px;
                }
                
                .pricelist h2 {
                    font-size: 1.6em;
                    padding-top: 20px;
                }
                
                .pricelist p {
                    font-size: 1em;
                }
                
                .contactpage {
                    height: 500px;
                }
                
                 .booknowlink {
                    height: 80px;
                    font-size: 2.4em;
                    padding-top: 33px;
                }
                
                 #bookinginfo h1 {
                    padding-top: 15px;
                    font-size: 2.8em; 
                }
                
                 .boookingslink {
                    height: 70px;
                    padding-top: 20px;
                    font-size: 2.5em;
                }
                
                .booknow {
                    height: 1090px;
                }
                
                input[type=text], select, textarea {
                    height: 30px;
                }
                
                 .locations {
                    font-size: 1.6em;
                }
                
                 .booknow h2 {
                    font-size: 2em;
                }
                
                .booknow h3 {
                    font-size: 1.4em;
                }
                
                              
                .container3 input[type=submit] {
                    padding: 15px;
                    margin-top: 10px;
                    font-size: 2em;
                }
                
            }

