@import url('https://fonts.googleapis.com/css?family=Diplomata+SC|Ewert|Fredericka+the+Great|Sanchez|Sancreek|Spectral+SC&display=swap');

 * { outline: #161616 solid 8px; } 
            
body {
    margin: 0px;  
}

.menubar {
    background-color: #4f0b0b;
    height: 150px;
    background-image: url(backroundstripes.jpg);
    background-position: center;
    outline: none;
}
            
.carousel {
    background-color: #070707;
    height: 300px;
    background-image: url(IMG_0949.PNG);
    background-position: center;
    background-repeat: no-repeat;
}
            
.shows {
    background-color: #080808;
    height: 300px;
    margin-top: -48px;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
}

#halyscircus {
    background-image: url(halyscircus.PNG);
    background-position: center;
    height: 200px;
    margin-top: -40px;
    background-repeat: no-repeat;
}
            
.acts {
    background-color: #060314;
    height: 300px;
    margin-top: -48px;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
}

#shows {
    background-image: url(shows.PNG);
    background-position: center;
    height: 200px;
    margin-top: -40px;
    background-repeat: no-repeat;
}
            
.prices {
    background-color: #1e0503;
    height: 300px;
    margin-top: -48px;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
}

#tickets {
    background-image: url(tickets.PNG);
    background-position: center;
    height: 200px;
    margin-top: -40px;
    background-repeat: no-repeat;
}
            
.contactus {
    background-color: #d1c5a3;
    height: 300px;
    margin-top: -48px;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
}  
            
           
p  {
    text-align: center;
    font-size: 3em;
    padding-top: 10px;
    text-decoration-color: #d1c5a3;
    font-family: 'Ewert', cursive;
    color: #d1c5a3;
}

#bookinginfo {
    background-color: #d1c5a3;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
}

h1{
    background-color: #4f0b0b;
    font-size: 2em;
    text-align: center;
    margin: 5px;
    color: #d1c5a3;
    font-family: 'Sancreek', cursive;
    padding-top: 5px;
}

.contactus p {
    color: black;
}

h2{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
}

.pricelist {
    background-color: #060314;
    height: 500px;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
}

.pricelist h1 {
    background-color:  #060314;
}

.pricelist h2 {
    font-family: 'Sanchez', serif;
    font-size: 1em;
    padding-top: 10px;
    color: #d1c5a3;
    text-align: center;
}

.pricelist p {
    font-family: 'Sanchez', serif;
    font-size: 0.8em;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10px;
}
            
.grey {
    background-image: url(lightsborder.jpg);
    background-color: #161616;
    height: 50px;
}

.contactpage {
    background-color: #d1c5a3;
    height: 400px;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
    margin-top: -40px;
    
}

.contactpage p {
    color: black;
}

.booknowlink {
    background-color: #d1c5a3;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    font-size: 1.8em;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
}

.booknowlink a {
    text-decoration: none;
    color: #060314;
    background-color: #d1c5a3;
}


.boookingslink {
    background-color: #060314;
    height: 50px;
    text-align: center;
    padding-top: 13px;
    font-size: 1.8em;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
    
}

.boookingslink a {
    text-decoration: none;
    color: #060314;
    background-color: #d1c5a3;
}

.booknow {
    background-color: #4f0b0b;
    height: 300px;
    background-image: url(vintagetexture.PNG);
    background-blend-mode: overlay;
    margin-top: -38px;
}

a {
    padding-left: 15px;
    padding-right: 15px;
    height: 20px;
    color: #060314;
    font-family: 'Sanchez', serif;
}

.homelink {
    background-color: #d1c5a3;
}

.bookingslink {
    background-color: #4f0b0b;
}

.actslink {
    background-color: #4f0b0b;
}

.contactlink {
    background-color: #4f0b0b;
}

.container .row {
    text-align: center;
}


            
            /* sm */
            @media (min-width: 576px) {
                
            }
            
            /* md */
            @media (min-width: 768px) {
                .menubar {
                    height: 200px;
                }
                
                a {
                    font-size: 1.4em;
                }
                
                .carousel {
                      height: 400px;
                }
                
                h1 {
                    height: 80px;
                    font-size: 3em;
                }
                
                h2 {
                    height: 50px;
                    font-size: 2em;
                }
                
                .pricelist {
                    height: 680px;
                }
                
                .pricelist h2 {
                    font-size: 1.6em;
                    padding-top: 20px;
                }
                
                .pricelist p {
                    font-size: 1em;
                }
                
                .contactpage {
                    height: 500px;
                }
                
                .booknowlink {
                    height: 80px;
                    font-size: 2.4em;
                    padding-top: 33px;
                }
                
                #bookinginfo h1 {
                    padding-top: 15px;
                }
                
                .boookingslink {
                    height: 70px;
                    padding-top: 20px;
                    font-size: 2.5em;
                }
            }
            
            /* lg */
            @media (min-width: 992px) {
                 .menubar {
                    height: 200px;
                }
                
                  a {
                    font-size: 1.6em;
                }
                
                .carousel {
                      height: 500px;
                }
                
                 h1 {
                    height: 80px;
                    font-size: 3em;
                }
                
                h2 {
                    height: 50px;
                    font-size: 2em;
                }
                .pricelist {
                    height: 680px;
                }
                
                .pricelist h2 {
                    font-size: 1.6em;
                    padding-top: 20px;
                }
                
                .pricelist p {
                    font-size: 1em;
                }
                
                .contactpage {
                    height: 500px;
                }
                
                 .booknowlink {
                    height: 80px;
                    font-size: 2.4em;
                    padding-top: 33px;
                }
                
                 #bookinginfo h1 {
                    padding-top: 15px;
                }
                
                 .boookingslink {
                    height: 70px;
                    padding-top: 20px;
                    font-size: 2.5em;
                }
            }
            
            /* xl */
            @media (min-width: 1200px) {
                .menubar {
                    height: 200px;
                }
                
                  a {
                    font-size: 1.8em;
                }
                
                .carousel {
                      height: 600px;
                }
                
                 h1 {
                    height: 80px;
                    font-size: 3em;
                }
                
                h2 {
                    height: 50px;
                    font-size: 2em;
                }
                
                .pricelist {
                    height: 680px;
                }
                
                .pricelist h2 {
                    font-size: 1.6em;
                    padding-top: 20px;
                }
                
                .pricelist p {
                    font-size: 1em;
                }
                
                .contactpage {
                    height: 500px;
                }
                
                 .booknowlink {
                    height: 80px;
                    font-size: 2.4em;
                    padding-top: 33px;
                }
                
                 #bookinginfo h1 {
                    padding-top: 15px;
                }
                
                 .boookingslink {
                    height: 70px;
                    padding-top: 20px;
                    font-size: 2.5em;
                }
            }
